<h1>Adding Movie</h1>

<div>
    <form method="POST" action="/api/movies/">

        <table>
            <tr>
                <td><label for="title"> Title: </label></td>
                <td><input type="text" name="title" placeholder="movie title"></td>
            </tr>
            <tr>
                <td><label for="year"> Release Year: </label></td>
                <td><input type="text" name="year" placeholder="release year"></td>
            </tr>
        </table>

        <button type="submit"> Click to Insert Movie in Database </button>
        
    </form>
</div>